{% extends "shop/base.html" %}

{% block title %}Shop - My Shoppings{% endblock %}
{% block content %}

<div class="grid">
  {% for p in products %}
    <div class="card">
      <a href="{% url 'shop:product_detail' p.slug %}">
        <img src="{{ p.image_url|default:'https://via.placeholder.com/400x250' }}" alt="{{ p.name }}">
      </a>
      <div class="p">
        <div><a href="{% url 'shop:product_detail' p.slug %}"><strong>{{ p.name }}</strong></a></div>
        <div class="price">₹ {{ p.price }}</div>
        <form action="{% url 'shop:cart_add' p.id %}" method="post" class="cart-btn">
          {% csrf_token %}
          <input type="number" name="qty" value="1" min="1">
          <button type="submit" class="add">Add to Cart</button>
        </form>
      </div>
    </div>
  {% empty %}
    <p>No products found.</p>
  {% endfor %}
</div>


{% endblock %}
